# Ignore everything by default
*
/*

# Allow specific files and directories
!.gitignore
!nixos/
!nixos/**
!dev-flakes/
!dev-flakes/**
!nvim/
!nvim/init.lua
!nvim/lua/
!nvim/lua/**
!nvim/lazy-lock.json
!zsh-modules/
!zsh-modules/**
!.zshrc
!README.md

# Explicit ignores
environment.d/
fontconfig/
starship/
systemd/
tmux/
